<style>
  main { padding-top:50px; }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }

  /* Header styling */
  header {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
  }

  /* Logo styling */
  .logo {
    height: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
  }
</style>

<header>
  <img src="/assets/star_logo.png" alt="Star Logo" class="logo">
  <h1>Bruce's Convenience Store</h1>
</header>