<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/main">Bruce's Convenience Store</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/beverage">Beverages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/room">Snacks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resident">Tobacco</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log out</a>
    </li>
  </ul>
</nav>