<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
        <%- include('../partials/header'); %>
        <div class="sidebar">
            <a  href="/main">Home</a>
            <a href="/filter_beverages">Dashboard</a>
            <a class="active" href="/beverage_management">Inventory Management</a>
            <a href="/logout">Log off</a>    
    </div>

<div class="content">
<main>
        <div>
            <form action="/add_beverage" method="post">
                <h2>Add Product</h2>
            
                <div class="form-group">
                    <label class="form-label" for="bevname">Insert Product Name:</label>
                    <input type="text" id="bevname" name="bevname" class="form-control" placeholder="Product Name" required autofocus>
                </div>
            
                <div class="form-group">
                    <label class="form-label" for="bevprice">Insert Product Price:</label>
                    <input type="text" id="bevprice" name="bevprice" class="form-control" placeholder="Price" required>
                </div>
            
                <div class="form-group">
                    <label class="form-label" for="bevoh">Insert Product On Hand:</label>
                    <input type="text" id="bevoh" name="bevoh" class="form-control" placeholder="On Hand" required>
                </div>
            
                <div class="form-group">
                    <label class="form-label" for="cats">Category:</label>
                    <select name="cats" id="cats" class="form-control" required>
                        <option value="">Select a category...</option>
                        <option value="Beverage">Beverage</option>
                        <option value="Snack">Snack</option>
                        <option value="Alcohol">Alcohol</option>
                        <option value="Cigarette">Cigarette</option>
                        <option value="Other">Other</option>

                    </select>
                </div>
            
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
            </form>
        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</div>
</body>
</html>