<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
        <%- include('../partials/header'); %>
        <div class="sidebar">
            <a class="active" href="/main">Home</a>
            <a href="/beverage">Dashboard</a>
            <a href="/beverage_management">Inventory Management</a>
            <a href="/logout">Log off</a>
            
        </div>

<div class="content">
    <main >

        <% if (locals.auth) { %>
           WELCOME
        <br><br>
        <p> You now have access to the inventory operations of Bruce's Convenience Store</p>
        <p> System can be accessed through the tabs</p>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</div>

</body>
</html>