<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
        <%- include('../partials/header'); %>
        <div class="sidebar">
            <a  href="/main">Home</a>
            <a href="/filter_beverages">Dashboard</a>
            <a class="active" href="/beverage_management">Reports</a>
            <a href="/logout">Log off</a>    
    </div>

<div class="content">
<main>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</div>
</body>
</html>